configuration {
    modi: "drun,run,window";
    show-icons: true;
    icon-theme: "Papirus";
    drun-display-format: "{icon} {name}";
    display-drun: "Apps";
    display-run: "Run";
    display-window: "Windows";
    sidebar-mode: false;
}

@theme "~/.config/rofi/themes/dark-i3.rasi"
